section.advantages
    h3.process__title Почему Дымоход.ру?
    p.intro__description В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык»
    div.advantages__box
        div.advantages__element
            svg.advantages__image
                use(href='@img/icons/icons.svg#guarantee')
            div.advantages__title Большой гарантийный срок
            div.advantages__text 
                | Крепёж, стыковка элементов – 
                span 10 лет
                br
                | Сквозная коррозия труб – 
                span 5 лет
                br
                | Гидроизоляция – 
                span 3 года
        div.advantages__element
            svg.advantages__image
                use(href='@img/icons/icons.svg#architect')
            div.advantages__title Помощь в покупке агрегата
            div.advantages__text (печи, камина, котла), а также качественной установке на объекте с последующим гарантийным сервисом
        div.advantages__element
            svg.advantages__image
                use(href='@img/icons/icons.svg#review')
            div.advantages__title Реальные отзывы клиентов
            div.advantages__text Убедитесь в добросовестности исполнения, прочитав Отзывы клиентов в специальном разделе.