section.process
    h3.process__title Процесс выполнения монтажа
    ol.process__list
        each val in ['Процесс выполнения монтажа', 'Замер объекта нашим инженером', 'Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы', 'Изготовление Дымохода, покраска (если требуется)', 'Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация', 'Гарантийное обслуживание по соответствующем сроку']
            li.process__element= val