html
    include html/head
    body
        div.content
            div.wrapper
                include html/header
                div.container
                    include html/intro
                    include html/process
                    include html/advantages
                    include html/feedback
                    include html/video
                    include html/gallery
        include html/footer
        script(src='js/app.min.js')
